.hero-banner{
	margin: 2em auto;
	padding-bottom: 2em;
	width: 100%;

}

.hero-banner__title {
	margin: 2em auto;
}

.hero-banner__media{
	min-height: 20em;
	max-width: 20em;
	background-size: cover;
	background-repeat: no-repeat;
	/* overflow: hidden; */

	position: relative;
	top: 0;
	left: 0%;
	transform: translateX(0%);

}