.cards{
	max-width: 70em;
	margin: 0 auto;
	text-align: center;
	padding: 2em 0;
}

.card__media{
	max-width: 20em;
	margin-top: 2em;
	border-radius: 0.5em;
}

.cards__heading{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bolder;
	max-width: 10em;
	margin: 0 auto;
}

.card{
/*	max-width: 50em;
	margin: 5em auto;*/
}

.card__title{
	margin: 1em 0;
}

.card__description{
	line-height: 1.5;
}

.card__description--alt{
	font-weight: 900;
}

