.hero-banner{
	position: relative;
	padding: 1em 0;
}

.slides{
	vertical-align: middle;
}

.hero-banner__title{
	color: red;
	margin: 0 auto;
	text-align: center;
}

.slide{
	position: relative;
	height: 30em;
	width: 30em;
}

.slide__media{
	min-height: 10em;
	max-width: 20em;
	margin: 0 auto;
	border-radius: 0.5em;
 	box-shadow: 1px 10px 15px rgba(0, 0, 0, 1);
 	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
}	